/* RESET */
*{
    margin: 0;
    padding: 0;
    
}
/* Header */
header {
    height: 100px;
    background: rgb(253, 203, 241, 0.693);
    padding: 0 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-transform: uppercase;
    color: black;
    font-weight: 200;
}
.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order:1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    background: black;
}

#check{
    display: none;
}

/* Responsive */
@media(max-width:400px){
/*Header*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    #buscador{
        margin-bottom: 30px;
        width: 50vw;
        position: relative;
        text-align: left;
    }

    #logo{
        width: 300px;
        height: 160px;
    }
}

body{
    overflow-x: hidden;
    background-color: rgb(253, 203, 241, 0.693);
}

/* Main */
#banner{
    padding: 0px;
    background-image: url(./Img/gba.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
}
#banner::before{
    content: "";
    background: rgba(12, 3, 3, 0.693);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
}

.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}
.contenido-banner h3 span{
    font-weight: 600;
}
.contenido-banner{
    position: relative;
    color: rgba(253, 102, 218, 0.693);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}
.boton-empezar{
    text-decoration: none;
    color: rgba(253, 102, 218, 0.693);
    border: 1px solid rgb(253, 102, 218, 0.693);
    padding: 20px 40px;
    align-self: baseline;
    transition: 0.4s;
}

.boton-empezar:hover{
    background: rgb(255, 255, 255);
}

#Mas {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    
}

.boton-juegos{
    width: 150px;
    z-index: 3;
}

.contenedor-general{
    max-width: 1200px;
    margin: auto;
}
#Nomelacontainer{
    background-color: rgb(253, 203, 241, 0.693);
    color:white ;
    text-align: center;
}
#Nomelacontainer h2{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 30px;
}
#Nomelacontainer p{
    display: block;
}
#Nomelacontainer .juego{
    background-size: cover;
    background-position: center center;
    margin: 20px;
    padding: 40px;
    padding-top: 60px;
    border-radius: 15px;
}

#Nomelacontainer .juego h3{
    font-size: 35px;
    font-weight: 200px;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

#Nomelacontainer .juego h4{
    font-size: 30px;
    font-weight: bold;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.8);
}

.juego{
    transform: scale(1);
    transition: 0.5s;
}
.juego:hover{
    transform: scale(1.1);
    transition: 0.5;  
}

.juego:first-child{
    background-image: linear-gradient(
        0deg, 
       rgba(0, 0, 0, 0.9), 
       rgba(0, 0, 0, 0.3)
    )
    ,url(Img/rojofuego.jpg);
   }

   .juego:nth-child(2){
    background-image: linear-gradient(
        0deg, 
       rgba(0, 0, 0, 0.9), 
    rgba(0, 0, 0, 0.3)
    )
    ,url(Img/verdehoja.jpg); 
}

    .juego:nth-child(3){
    background-image: linear-gradient(
        0deg, 
    rgba(0, 0, 0, 0.9), 
    rgba(0, 0, 0, 0.3)
    )
    ,url(Img/rubi.jpg);
}

.footer{
    height: 100px;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.contacto h3 {
    height: 22px;
    padding: 1px;
    align-items: center;
    justify-content: center;
}

.contacto ul{
    height: 100px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.boton{
    width: 150px;
    z-index: 3;
}
